kai
stream.todo.md
*.o
out_*
*/xcuserdata/*
.DS_Store
*.xcuserstate
*.so
*.dSYM
test/wip.kai
tools/genTests
tools/genXCTests
tools/xcconfigs/LLVM.xcconfig
kai_tests*
scripts/clang-with-compilation-db
compile_commands.json
DerivedData
