kai
stream.todo.md
core.o
llvm.o
*/xcuserdata/*
.DS_Store
*.xcuserstate
*.so
*.dSYM
test/wip.kai
out_wip
wip.o
tools/genTests
tools/genXCTests
kai_tests*
scripts/clang-with-compilation-db
compile_commands.json
DerivedData
