
#include "LLVM.xcconfig"



// Check Switch Statements
// 
// Warn whenever a switch statement has an index of enumeral type and lacks a case for
// one or more of the named codes of that enumeration. The presence of a default label
// prevents this warning. Case labels outside the enumeration range also provoke warnings
// when this option is used.

GCC_WARN_CHECK_SWITCH_STATEMENTS = YES



// macOS Deployment Target
// 
// Code will load on this and later versions of macOS. Framework APIs that are
// unavailable in earlier versions will be weak-linked; your code should check for `null`
// function pointers or specific system versions before calling newer APIs.

MACOSX_DEPLOYMENT_TARGET = 10.8



// Other C Flags
//
// Space-separated list of additional flags to pass to the compiler for C and Objective-C
// files. Be sure to backslash-escape any arguments that contain spaces or special
// characters, such as path names that may contain spaces. Use this setting if Xcode does
// not already provide UI for a particular C or Objective-C compiler flag.

OTHER_CFLAGS = -Wno-c99-extensions -Wno-c11-extensions -Wno-switch -Wno-switch-enum



// Other C++ Flags
// 
// Space-separated list of additional flags to pass to the compiler for C++ and
// Objective-C++ files. Be sure to backslash-escape any arguments that contain spaces or
// special characters, such as path names that may contain spaces. Use this setting if
// Xcode does not already provide UI for a C++ or Objective-C++ compiler flag.

OTHER_CPLUSPLUSFLAGS = $(OTHER_CFLAGS) -Wno-writable-strings -Wno-switch



// Other Linker Flags
// 
// Options defined in this setting are passed to invocations of the linker.

OTHER_LDFLAGS = $(LLVM_CXXLDFLAGS)



// Product Name
// 
// This is the basename of the product generated by the target.

PRODUCT_NAME = $(TARGET_NAME)
